<footer class="footer">
    <div class="footer-content">
      <p>© 2025 Elite Psychology. All rights reserved.</p>
  
      <div class="social-icons">
        <a href="https://www.instagram.com/eliteco.kw/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/eliteco_kw?s=21&t=FdTUj1InlpWz4FdN_dqGmQ" target="_blank"><i class="fa-brands fa-x"></i></a>
        <!-- <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a> -->
        <a href="mailto:Eliteco.kw@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
      
    </div>
  </footer>
  