<footer class="footer">
    <div class="footer-content">
      <p>© 2025 Elite Psychology. All rights reserved.</p>
  
      <div class="social-icons">
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com" target="_blank"><i class="fa-brands fa-x"></i></a>
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="mailto:contact@elite.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
      
    </div>
  </footer>
  