<div class="home-wrapper">
  <!-- Online Courses -->
  <section id="courses" class="section light-section">
    <div class="section-header">
      <h2 class="section-title text-center">{{ 'available_courses' | translate }}</h2>
    </div>

    <div class="carousel" *ngIf="courses.length > 0; else noCourses">
      <button class="arrow left" (click)="scrollLeft('courses-carousel')">‹</button>

      <div class="carousel-track" id="courses-carousel">
        <div class="card" *ngFor="let course of courses" [routerLink]="['/course', course._id]">
          <img [src]="course.media.imageUrl" alt="{{ course.title }}" class="course-media" />
        
          <div class="card-overlay">
            <h3>{{ course.title }}</h3>
            <p>{{ course.price | currency }}</p>
            <small>By {{ course.teacher.username }}</small>
          </div>
        </div>
        
      </div>

      <button class="arrow right" (click)="scrollRight('courses-carousel')">›</button>
    </div>

    <!-- No courses fallback -->
    <ng-template #noCourses>
      <p class="text-center">No courses available yet.</p>
    </ng-template>
  </section>
</div>
